<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572273050720-l6qh1eliokshb88r84vmikacg8na246e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572273050720-l6qh1eliokshb88r84vmikacg8na246e</string>
	<key>API_KEY</key>
	<string>AIzaSyCGHevW-4-BJl6UzgYoo4vJli0Y_hs8H3k</string>
	<key>GCM_SENDER_ID</key>
	<string>572273050720</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reynaldiwijaya.NawatechGallery</string>
	<key>PROJECT_ID</key>
	<string>nawatechgallery</string>
	<key>STORAGE_BUCKET</key>
	<string>nawatechgallery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572273050720:ios:d8b4f4cfea0264cecdaf05</string>
</dict>
</plist>